*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    animation: DAY-NIGHT linear 12s infinite;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover; 
    position: absolute;
    top: -144px; 
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x; 
    position: absolute;
    top: 70vh;
    animation: carMove linear 10s infinite;

}

.car1{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 111px;
    bottom:28vh;
    animation: shake linear .3s infinite;
    transition: 0.5s;

}


.wheel1 img{
    width: 77px;
    position: relative;
    top:42px;
    left:42px;
    animation: wheelRotation linear .16s infinite;
}


.wheel2 img{
    width: 77px;
    position: relative;
    top: -39px;
    left: 235px;
    animation: wheelRotation linear .16s infinite;

}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(-500vw);
       
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }

}

@keyframes DAY-NIGHT
{
    0%{
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        position: absolute;
        
        
    }

    100%{
        background-image: url(BACKGROUND2.jpg);
    background-repeat: no-repeat;
    position: absolute;
    
    }
}


.car1:active{
 /* top: 80vh; */
    bottom:40vh;
    
}

.track:active{
    animation: carMove linear 1s infinite;
    /* background-image: url(rain.png); */
}

/* .sky:active{ */
    /* background-image: url(rain.png); */
/* } */


.car2{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom:-10vh;
    animation: shake linear .3s infinite;
    transition: 0.5s;

}


.wheel12 img{
    width: 77px;
    position: relative;
    top:42px;
    left:42px;
    animation: wheelRotation linear .16s infinite;
}


.wheel22 img{
    width: 77px;
    position: relative;
    top: -39px;
    left: 235px;
    animation: wheelRotation linear .16s infinite;

}


.car2:active{
       bottom:10vh;
   }